body {
	background-color: #333;
	color:#FFF;
}

table {
	width:85%;
	margin:auto;
}

td {
	width:20%;
	height:150px;
	text-align:center;
}

.d {
	border:1px solid orange;
	background-color: transparent;
	color:white;
}

.e {
	background-color: orange;
	color:black;
}
